<footer class = "footer-custom">
  <div class = "footer-wrapper">
    <div class = "footer-copyright">
      <p class = "copyright-info">&copy;2017 Comrade Vote Counter Inc. LLC</p>
      <p class = "support-info">For inquiries about this application please visit <a class = "footer-link" href="http://tpprf.ru/ru">this site</a></p>
    </div>
  </div>
</footer>
