<footer class = "footer-custom">
  <div class = "footer-wrapper">
    <div class = "footer-copyright">
      <p class = "copyright-info">&copy;2017 Comrade Vote Counter Inc. LLC</p>
      <p class = "support-info">If you have any comments or concerns about how the voting results are handled, please see visit our parent website <a class = "footer-link" href="http://tpprf.ru/ru">HERE</a>.</p>
    </div>
  </div>
</footer>
