<!DOCTYPE html>
<html lang="en">

<head>
  {{>head}}
  <title>Ballot</title>
</head>
 
<body>
  {{>navbar}}
  <!-- The HTML for each view goes here -->
  <div class="container page-content main-body">
    {{#if success_msg}}
      <div class = "alert alert-success">{{success_msg}}</div>
    {{/if}}

    {{#if error_msg}}
      <div class = "alert alert-danger">{{error_msg}}</div>
    {{/if}}

    {{#if error}}
      <div class = "alert alert-danger">{{error}}</div>
    {{/if}}

    {{{body}}}
    
  </div>
  
  {{>footer}}

</body>
</html>