<div class="jumbotron">
  <h1>Welcome to the Pheasant Pointe 6th Ward Annual Lip Sync!</h1>
  <p>To ensure total accuracy in the voting process, please register or log in to continue</p>
  <p>
    <button type="button" class="btn btn-info btn-lg home-button" data-toggle="modal" data-target="#login-block">Login</button>
    <button type="button" class="btn btn-success btn-lg home-button" data-toggle="modal" data-target="#register-block">Register</button>
  </p>
</div>

{{#if errors}}
  {{#each errors}}
    <div class = "alert alert-danger">
      {{msg}}
    </div>
  {{/each}}
{{/if}}


<!-- Modal -->
<div id = "login-block" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Login</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <p>If you have already made an account log in here to vote or access the live analytics!</p>
        <form class = "local-login" method = "post" action = "/login"> 
          <div class="form-group">
            <label for="userName">User Name</label>
            <input type="text" class="form-control" id="username" placeholder="Enter User Name" name = "username">
          </div>
          <div class="form-group">
            <label for="userPass">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" name = "password">
          </div>
          <button type = "submit" class = "btn btn-success">Login</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>



  <!-- Modal -->
<div id="register-block" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Register</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <p>If this is your first time here fill out the form below to register</p>
        <form class = "local-register" method = "post" action = "/register">
          <div class="form-group">
            <label for="first">First Name</label>
            <input type="text" class="form-control" id="first" placeholder="Enter First Name" name = "first">
          </div>
          <div class="form-group">
            <label for="last">Last Name</label>
            <input type="text" class="form-control" id="last" placeholder="Enter User Name" name = "last">
          </div>
          <div class="form-group">
            <label for="userName">User Name</label>
            <input type="text" class="form-control" id="userName" placeholder="Enter User Name" name = "regusername">
          </div>
          <div class="form-group">
            <label for="userPass">Password</label>
            <input type="password" class="form-control" id="userPass" placeholder="Password" name = "regpassword">
          </div>
          <div class="form-group">
            <label for="confirmUserPass">Confirm Password</label>
            <input type="password" class="form-control" id="confirmUserPass" placeholder="Password" name = "confirmpassword">
          </div>
          <button type = "submit" class = "btn btn-success">Register</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </form>
      </div>

    </div>
  </div>
</div>

<div class="row info-main-block">
  <div class="col-sm-8">
    <h2 class="mt-4">What We Do</h2>
    <p>At Comrade Vote Counter we build custom voting and survey websites for all your voting needs.  We can handle anything from local talent shows, to national elections!  We develop management systems that promote voter confidence that elections are fair, safe, and secure. Every vote is carefully tracked and accounted for and then analyzed with our proprietary reporting software providing clearly displayed results for all to see! No doubt about it, handle your competition with confidence! Let us do the work and rest assured you will get the results you want!</p>
    <p>At Comrade Vote Counter – your vote <i>always</i> counts!&reg;</p>
    <p>
      <a class="btn btn-success btn-lg" href="/login">Login to vote! &raquo;</a>
    </p>
  </div>
  <div class="col-sm-4">
    <h4 class="mt-4 center">Proudly Serving Our Customers Since November 2016</h4>
    <img class = "front-image" src = "/img/vote.jpg"/>
  </div>
</div>
