<div class = "voting-block-main">
  <form class = "vote-form" name = "voteForm" method = "post" action = "/vote">
    <p class = "form-label-title">Please select the group with the best performance</p>
    
    <input type = "radio" class = "vote-form-radio" name = "group" value = "Priests">Priests</br>
    <input type = "radio" class = "vote-form-radio" name = "group" value = "Laurels">Laurels</br>
    <input type = "radio" class = "vote-form-radio" name = "group" value = "Teachers">Teachers</br>
    <input type = "radio" class = "vote-form-radio" name = "group" value = "Miamaids">Mia Maids</br>
    <input type = "radio" class = "vote-form-radio" name = "group" value = "Deacons">Deacons</br>
    <input type = "radio" class = "vote-form-radio" name = "group" value = "Behives">Behives</br>
    <input type = "radio" class = "vote-form-radio" name = "group" value = "Leaders">Leaders</br>
    <input type = "radio" class = "vote-form-radio" name = "group" value = "Bishop">Bishop +1</br>
    <p class = "form-label-title">Please leave your comments below</p>

    <textarea class = "vote-form-text" name = "comments"></textarea> 

    <button type = "submit" class = "btn btn-success">Vote!</button>

  </form>
</div>