<div class = "voting-block-main">
  <form class = "vote-form" name = "voteForm" method = "post" action = "/vote">
    <div class="middle">
      <h1 id = "vote-form-title">Vote for the group with the best performance!</h1>
      <label>
        <input type="radio" class = "vote-form-radio" name="group" value = "Priests" checked/>
        <div class="front-end box">
          <span>Priests</span>
        </div>
      </label>
      <label>
        <input type="radio" class = "vote-form-radio" name="group" value = "Laurels" />
        <div class="front-end box">
          <span>Laurels</span>
        </div>
      </label>
      <label>
        <input type="radio" class = "vote-form-radio" name="group" value = "Teachers" />
        <div class="front-end box">
          <span>Teachers</span>
        </div>
      </label>
      <label>
        <input type="radio" class = "vote-form-radio" name="group" value = "Miamaids" />
        <div class="front-end box">
          <span>Mia Maids</span>
        </div>
      </label>
      <label>
        <input type="radio" class = "vote-form-radio" name="group" value = "Deacons" />
        <div class="front-end box">
          <span>Deacons</span>
        </div>
      </label>
      <label>
        <input type="radio" class = "vote-form-radio" name="group" value = "Behives" />
        <div class="front-end box">
          <span>Behives</span>
        </div>
      </label>
      <label>
        <input type="radio" class = "vote-form-radio" name="group" value = "Leaders" />
        <div class="front-end box">
          <span>Leaders</span>
        </div>
      </label>
      <label>
        <input type="radio" class = "vote-form-radio" name="group" value = "Bishop" />
        <div class="front-end box">
          <span>Bishop +1</span>
        </div>
      </label>
    </div>
    <h1 class = "form-label-title">And leave your comments below!</h1>
    <textarea class = "vote-form-text" name = "comments" required = true ></textarea>
    <button type = "submit" class = "btn btn-success vote-button">Vote!</button>
  </form>
</div>

