html {
  background-color: #194179;
}

footer {
  position: relative;
  bottom: 0;
}

.main-body{
  min-height: 80vh;
}

.footer-custom {
  width: 100%;
  background-color: #194179;
}

.footer-wrapper {
  width: 95%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.footer-link-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 15px;
}

.footer-link {
  color: white;
  font-family: Montserrat, sans-serif;
  padding: 0 !important;
  text-decoration: none;
  font-weight: 700;
}

.footer-link:hover {
  color: white;
  text-decoration: underline;
}

.footer-link:active {
  outline: none;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.copyright-info, .support-info {
  color: white;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  text-align: center;
  margin-bottom: 0;
}

// @import url("https://fonts.googleapis.com/css?family=Dax:400,900");

.middle {
  width: 100%;
  text-align: center;
}

.middle h1 {
  font-family: "Dax", sans-serif;
  color: black;
}
.middle input[type="radio"] {
  display: none;
}
.middle input[type="radio"]:checked + .box {
  background-color: #3434df;
}
.middle input[type="radio"]:checked + .box span {
  color: white;
  transform: translateY(70px);
}
.middle input[type="radio"]:checked + .box span:before {
  transform: translateY(0px);
  opacity: 1;
}
.middle .box {
  width: 200px;
  height: 200px;
  background-color: #00008a;
  transition: all 250ms ease;
  will-change: transition;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-family: "Dax", sans-serif;
  font-weight: 900;
}
.middle .box:active {
  transform: translateY(10px);
}
.middle .box span {
  position: absolute;
  transform: translate(0, 60px);
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 1.5em;
  user-select: none;
  color: #fff;
}
.middle .box span:before {
  font-size: 1.2em;
  font-family: FontAwesome;
  display: block;
  transform: translateY(-80px);
  opacity: 0;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}
.middle .front-end span:before {
  content: "\f164";
}
.middle .back-end span:before {
  content: "\f119";
}
.middle p {
  color: #fff;
  font-family: "Dax", sans-serif;
  font-weight: 400;
}
.middle p span:after {
  content: "\f0e7";
  font-family: FontAwesome;
  color: yellow;
}

textarea {
  resize: both;
  border: 0.1em solid #ccc;
  border-radius: 0.5em;
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}

.vote-button {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.form-label-title {
  margin-top: 20px;
  text-align: center;
  font-family: "Dax", sans-serif;
  color: black;
}

.voting-block-main {
  margin-top: 25px;
}

#vote-form-title {
  margin-bottom: 30px;
}

.canvasjs-chart-toolbar, .canvasjs-chart-credit {
  display: none !important;
}

.page-title-analytics {
  margin-top: 25px;
  text-align: center;
  margin-bottom: 25px;
}

.card {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px 1px #c9c9c9;
}

.card-header {
  margin: 0;
  padding: 0;
  padding-left: 5px;
}

.card-quote {
  margin-left: 5px;
}

.comments-title {
  text-align: center;
}

@media screen and (max-width: 766px){

  .canvasjs-chart-canvas:nth-child(2) {
    display: none !important;
  }

  .canvasjs-chart-canvas {
    position: inherit !important;
  }

  .canvasjs-chart-container {
    position: inherit !important;
  }

  .flex-container-analytics {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .comments-container {
    width: 100%;
    max-height: 300px;
    
  }

  #comment-card-container {
    max-height: 250px;
    overflow-y: scroll;
  }

  #chart-container {
    width: 100%;
  }

  .info-main-block {
    margin-left: 0;
  }
}

@media screen and (min-width: 767px){

  .canvasjs-chart-canvas:nth-child(2) {
    display: inline-block !important;
  }

  .canvasjs-chart-canvas {
    position: absolute !important;
  }

  .canvasjs-chart-container {
    position: relative !important;
  }

  .flex-container-analytics {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .comments-container {
    width: 40%;
    max-height: 500px;
    
  }

  #comment-card-container {
    max-height: 400px;
    overflow-y: scroll;
  }

  #chart-container {
    width: 50%;
  }

  .info-main-block {
    margin-left: 2rem;
  }
}

.refresh-btn {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 25px;
}

.center {
  text-align: center; 
  margin-left: auto; 
  margin-right: auto; 
  margin-bottom: auto; 
  margin-top: auto;
}

.hero-unit {
  width: 100%;
  max-width: 750px;
}

.navbar {
  background-color: #194179;
}

.jumbotron {
  margin-top: 25px;
}


.user-login-container {
  max-width: 750px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.login-title {
  text-align: center;
}

.login-page-button {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: 15px;
}

.home-button {
  margin-right: 10px;
}












